.PopupDone{
    position: relative;
    text-align: center;
    font-size: 50px;
    width: 700px;
    height: 400px;
    background: linear-gradient(45deg, rgb(248, 208, 99), rgb(127, 253, 232));
    margin: 0 auto;
    height: 500px;
    margin: 100px auto;
    color: #ffffff;
    border-radius: 30px;
}

.PopupDone p{
    margin: 10px 0;
}

.PopupDone a {
    position: absolute;
    width: 200px;
    left: calc(50% - 100px);
    bottom: 15px;
    text-decoration: none;
    color: #f1a93b;
    border: 3px solid #f1a93b;
    border-radius: 25px;
    outline: none;
    padding-bottom: 3px;
    box-shadow: 1px 1px 7px 1px gray;
}

.PopupDone img{
    width: 260px;
}


.PopupContent{
    position: fixed;
    background-image: url(../../data/img/bg-menu.png);
    background-size: cover;
    width: 100%;
    height: calc(100% + 100px);
    margin-top: -100px;
    z-index: 100;
}